In [1]:
import numpy as np
import pandas as pd

In [6]:
PATH="/mnt/c/Users/Utente/OneDrive/Desktop/Codes/Bazzani/coin_Bitcoin.csv"
bitcoin=pd.read_csv(PATH,sep=",")
lista=["Name","Symbol","High","Low","Open","Volume","Marketcap"]
for i in lista:
    del bitcoin[i]
bitcoin

       SNo                 Date         Close
0        1  2013-04-29 23:59:59    144.539993
1        2  2013-04-30 23:59:59    139.000000
2        3  2013-05-01 23:59:59    116.989998
3        4  2013-05-02 23:59:59    105.209999
4        5  2013-05-03 23:59:59     97.750000
...    ...                  ...           ...
2986  2987  2021-07-02 23:59:59  33897.048590
2987  2988  2021-07-03 23:59:59  34668.548402
2988  2989  2021-07-04 23:59:59  35287.779766
2989  2990  2021-07-05 23:59:59  33746.002456
2990  2991  2021-07-06 23:59:59  34235.193451

[2991 rows x 3 columns]